// Main Colors
$primaryColor : #41563E;
$primaryBackgroundColor : #256d1b33;

$secondaryColor: #999999;
$secondaryBackgroundColor: #99999944;

$warningColor: #bd9c08;
$warningBackgroundColor: #aa8d0b42;


// Colors
$dark: #000000;

$blueColor: #0250f8;
$blueBackgroundColor: #0250f860;

$whiteColor: #fff;
$offWhiteColor: #f5f5f5;

$lightBlueColor: #02b2f8;
$lightBlueBackgroundColor: #02b2f871;

$redColor: rgb(253, 41, 33);
$lightRedBackgroundColor: rgba(255, 58, 51, 0.438);



// Theme
$darkThemeBackground: #0c0c0cf1;
$lightThemeBackground: #ffffff;